# Compiled parser artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib
*.obj
*.o

# Wasm builds
*.wasm

# Node
build/
prebuilds/
node_modules/

# Python
.venv/
dist/
*.egg-info/
*.whl

# Rust
target/

# Go
_obj/

# Swift
.build/

# Zig
.zig-cache/
zig-cache/
zig-out/
